.pdf-layout {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 10px;
    width: 100%;
  }
  
  .form-slip {
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    font-size: 17px;
  }
  
  .form-field {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .form-field label {
    margin-left: 20px;
    margin-top: 30px;
    font-weight: bold;
    display: inline-block;
    width: 150px;
  }
  
  .form-field span {
    display: block;
    word-wrap: break-word;
    margin-top: 30px;
    display: inline-block;
    width: calc(80% - 150px);
  }

  
  .pdf-image {
    max-width: 200px;
    max-height: 250px;
    margin-top: 5px;
    margin-right: 10%;
  }
  